---
layout: default
---
<div class="content">
	 <div  id="container-banner" class="blog-bg">
			<div class="dotted-bg"></div>
	 </div>
	 <div class="container">
			<div class="content-area" id="blog-area">
				 <header id="content-primary-header">  
						<h1>[ BLOG ]</h1>
				 </header>
				 {{ content }}

				 <aside class="col-md-3 right">
						<div id="side-event">
							 <h2 id="side-event-title"><span class="fa fa-calendar"></span> EVENTS</h2>
							 <hr / style="border-bottom: 2px solid #e7e7e7;">
							 <!-- Events 
							 <ul>
									<li>
									<div class="eventdate">
										 <span class="date-top">20th</span> 
										 <span class="date-bottom">July, 2015</span>
									</div>
									<h2 class="eventtitle">Title of Events Goes Here Okay!</h2><br />
									<p class="eventbody">Lorem ipsum dolor sit amet, consectetur</p>
									<p><span class="fa fa-map-marker"></span> Venue: Here </p>
									<p><span class="fa fa-clock-o"></span> Time: Here </p>				          
									</li>
									<hr / style="border-bottom: 1px dotted #e7e7e7;">
									<li>
									<div class="eventdate">
										 <span class="date-top">20th</span> 
										 <span class="date-bottom">July, 2015</span>
									</div>
									<h2 class="eventtitle">Title of Events Goes Here Okay!</h2><br />
									<p class="eventbody">Lorem ipsum dolor sit amet, consectetur</p>
									<p><span class="fa fa-map-marker"></span> Venue: Here </p>
									<p><span class="fa fa-clock-o"></span> Time: Here </p>				          
									</li>
							 </ul> -->
							 <h3 style="font-weight: bold; font-size: 15px">We Have Series of Events Lined Up</h3>
							 <p><a href="" style="font-weight: bold;">Stay up to date</a></p>
						</div>


						<div class="social-feed">
							 <h2><span class="fa fa-twitter"></span>  Twitter Feed</h2>
							 <div id="tweeterfeed">
									<a class="twitter-timeline" href="https://twitter.com/CodeforGhana" data-widget-id="553522953150017536">Tweets by @CodeforGhana</a>
									<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							 </div>
						</div>

				 </aside>

			</div>

	 </div>
</div>




