---

layout: default
---
<div class="content">
	 <div  id="container-banner" class="blog-bg">
			<div class="dotted-bg"></div>
	 </div>
	 <div class="container">
			<div class="content-area" id="blog-area">
				 <header id="content-primary-header">  
						<h1>[ BLOG ]</h1>
				 </header>
				 {{ content }}

				 <aside class="col-md-3 right">
						<div id="side-event">

							 <h2 id="side-event-title">No Events At This Time</h2>
							 <!--
							 <h2 id="side-event-title"><span class="fa fa-calendar"></span> EVENTS</h2>
							 <hr / style="border-bottom: 2px solid #e7e7e7;">

							 <ul>
										<li>
									<div class="eventdate">
										 <span class="date-top">28th</span> 
										 <span class="date-bottom">April, 2015</span>
									</div>
									<h2 class="eventtitle">Twitter Chat</h2><br />
									<p class="eventbody">On the Tuesday, 28 April, 2015 Code for Ghana will be hosting Dr. Kweku Opoku-Agyemang. He is a Post Doctoral fellow at the University of California, Berkeley, His research focuses on political economy of development, with interests at the intersection of behavioral economics, organizational and institutional change as well as  technological change and development. Dr. Opoku-Agyemang is a proponent of local-led change when it comes to implementation of development projects in Africa.


In Ghana, Dr. Opoku-Agyemang is working on survey experiments and impact evaluations to study how mobile innovations can improve policy effectiveness overall, and the state of rural and urban utilities and public services in particular. In addition to other ongoing projects, he is also researching econometric and statistical methods for using big data in impact evaluations.</p>
									<p><span class="fa fa-map-marker"></span> Venue: On Twitter</p>
									<p><span class="fa fa-clock-o"></span> Time: 3:00pm to 4:00pm </p>				          
									</li>
									<hr / style="border-bottom: 1px dotted #e7e7e7;">
									 end of event -->


						</ul> 
				 </div>



				 <div class="social-feed">
						<h2><span class="fa fa-twitter"></span>  Twitter Feed</h2>
						<div id="tweeterfeed">
							 <a class="twitter-timeline" href="https://twitter.com/CodeforGhana" data-widget-id="553522953150017536">Tweets by @CodeforGhana</a>
							 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>
				 </div>

			</aside>

	 </div>

</div>
</div>




