---
layout: default
---
<div class="content">
	 <div  id="container-banner" class="blog-bg">
			<div class="dotted-bg"></div>
	 </div>
	 <div class="container">
			<div class="content-area" id="blog-area">
				 <header id="content-primary-header">  
						<h1>[ BLOG ]</h1>
				 </header>
				 {{ content }}

				 <aside class="col-md-3 right">
						<div id="side-event">
							 <h2 id="side-event-title"><span class="fa fa-calendar"></span> EVENTS</h2>
							 <hr / style="border-bottom: 2px solid #e7e7e7;">
							  
							 <ul>
							 <li>
									<div class="eventdate">
										 <span class="date-top">17th</span> 
										 <span class="date-bottom">Feb, 2015</span>
									</div>
									<h2 class="eventtitle">Call For Participation</h2><br />
									<p class="eventbody">You are invited to a call for participation Q&A  session with the Code for Ghana team.  This event is an opportunity for Civil society organisations, NGOs, Media Organisations, developers and data enthusiasts to learn more about the project and get involved. This event will also highlight how organisations can discover simple data tools that can enhance their work and improve citizen engagement.

</p>
									<p><span class="fa fa-map-marker"></span> Venue: iSpace </p>
									<p><span class="fa fa-clock-o"></span> Time: 11:00am to 1:30pm </p>				          
									</li>
									<hr 
							 <!-- end of event -->
									<li>
									<div class="eventdate">
										 <span class="date-top">21st</span> 
										 <span class="date-bottom">Feb, 2015</span>
									</div>
									<h2 class="eventtitle">Open Data Day</h2><br />
									<p class="eventbody">Open Day Day brings Developers, Designers, Students and Open Data Enthusiasts to learn about open data and do something with it. We'll work in groups to solve simple yet useful community problems using open data</p>
									<p><span class="fa fa-map-marker"></span> Venue: Mobile Web Ghana </p>
									<p><span class="fa fa-clock-o"></span> Time: 9:30am to 5:00pm </p>				          
									</li>
									<hr / style="border-bottom: 1px dotted #e7e7e7;">
									<!-- end of event -->
									
									
							 </ul> 
						</div>


						<div class="social-feed">
							 <h2><span class="fa fa-twitter"></span>  Twitter Feed</h2>
							 <div id="tweeterfeed">
									<a class="twitter-timeline" href="https://twitter.com/CodeforGhana" data-widget-id="553522953150017536">Tweets by @CodeforGhana</a>
									<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							 </div>
						</div>

				 </aside>

			</div>

	 </div>
</div>




